.statisticsWrapper {
  text-align: center;
  width: 320px;
  padding-top: 30px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 20px;
}
.statisticsList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
// .perc-item {
//   display: block;
// }
.statisticsTitle {
  margin: 0;
  margin-bottom: 20px;
}
.percElement {
  width: calc(100% / 4);
  border: solid 1px;
  border-color: #cfcfcf;
}
